https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-bus/archive/master.zip
cheroot==9.0.0
flask==2.2.2
itsdangerous==2.1.2  # from flask
jinja2==3.1.2  # from flask
markupsafe==2.1.2 # from flask
werkzeug==2.2.2 # from flask
marshmallow==3.18.0
netifaces==0.11.0
phonenumbers==8.12.57
python-consul==1.1.0 # not a debian dependency
pyyaml==6.0
stevedore==4.0.2
