git+https://github.com/xivo-pbx/xivo-bus.git
nose
mock
pyhamcrest
flask
https://github.com/xivo-pbx/xivo-lib-rest-client/archive/master.zip
https://github.com/xivo-pbx/xivo-auth-client/archive/master.zip
netifaces
